
.body{
    height: 100%;
    /* overflow: auto; */
/* Location of the image */
  /* background-image: url(src\Images\image.jpeg);   */
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  /* background-repeat: no-repeat; */
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  /* background-size: cover;*/
  background-image:  url(src\assets\Images\CBGOrchidsMarch2018-4323-Edit-550x367.jpg) ; 


  
  background-size: cover; 
  background-repeat:no repeat;
    }
    
.welcome h1, .p{
    
    color: #ffffff;
    z-index: 1;
    padding-right: 50px;
    text-shadow: 2px 2px 10px #3d0a00;
     font-family: inherit;
}
.welcome{
    background-color: #ffffff8c; 
    margin: auto; 
    text-align:right;
    width:70%;
    padding-top: 75px;   
    height: 85%;
}
h1{
    font-weight: 500;
}

 .middle a:hover,
 .middle a:focus
 {
    background: #f6faff;
 }

.p{
    font-weight: 500;
    padding-top: 5%;
    text-align: right;
    font-size: 140%;

}


.middle{  
    margin-top: 60px;
    /* padding-top: 5%; */
}

.middle a{
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: 600;
}

.container-fluid{
    background-color:white;
    height: 120px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);

}

.img{
margin-top: 1.5%;
}
img{
    float: right;
}
p{
    text-align: center;
    padding-top: 9%;
    font-size: 130%;
}
/* ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #398efd;
} */