<div class="form-group col-sm-12" style=" text-align: center;direction: rtl;" class="Details">

    <div class="form-group row">
        <form style="height: 580px" (ngSubmit)="testDate()">
            <button class="saveIconBtn" mat-icon-button aria-label="Example icon button with a home icon" title="שמור">
                <mat-icon>save</mat-icon>
            </button>
            <div style="height: 170px;
   margin: auto;
   width: 50%;
   padding-top: 25px;">
                <h3 style="color: rgb(196, 196, 21);" class="afternonColor">פרטי סמסטר</h3>

                <mat-form-field class="example-form-field">
                    <mat-select  [(ngModel)]="currentAfternoon.iYearType" placeholder="שנה" name="iYearType">
                        <mat-option *ngFor="let s of YearTypeValue.keys()" [value]="s">{{this.YearTypeValue.get(s)}}
                        </mat-option>
                    </mat-select>


                </mat-form-field><br>

                <section class="example-section" style="padding-top: 3%;padding-bottom: 3%;">
                    <label class="example-margin">סמסטר: </label>
    
                    <mat-radio-group (change)="typeChanged()" [(ngModel)]="currentAfternoon.iSemesterType" name="iSemesterType">
                        <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="94">סמסטר א
                        </mat-radio-button>
                        <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="95">סמסטר ב
                        </mat-radio-button>    
                    </mat-radio-group> <br>
                    <mat-hint class="mat-hint" style="font-size: 13px;color: red;" align="end">{{currentAfternoon.iSemesterType|required}}</mat-hint>

                </section>



                <mat-form-field>
                    <mat-label>מתאריך</mat-label>
                    <input matInput #input="ngModel"
                        [(ngModel)]="currentAfternoon.dFromDate" [min]="minFromDate" [max]="maxFromDate"
                        [matDatepicker]="picker2" name="dFromDate"
                        placeholder="בחר תאריך">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-hint align="end">{{currentAfternoon.dFromDate | required}}</mat-hint>

                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>עד תאריך</mat-label>
                    <input [min]="minToDate" [max]="maxToDate" [(ngModel)]="currentAfternoon.dToDate" matInput
                        name="dToDate" [matDatepicker]="picker" placeholder="בחר תאריך">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="end">{{currentAfternoon.dToDate | required}}</mat-hint>
                </mat-form-field>

              <br>


                <mat-form-field class="example-form-field">
                    <mat-label>מספר הפעלות שבועיות</mat-label>
                    <input matInput type="number" min="0" required [(ngModel)]="currentAfternoon.iNumActivityInWeek"
                        name="iNumActivityInWeek" />

                </mat-form-field><br>

      
<br>
                <!-- Button trigger modal-->
                <button type="button" style="background-color:rgb(240, 236, 20, 0.904); color: black;"
                    class="btn col-sm-4" data-toggle="modal" data-target="#modalCart">שיוך מסגרות</button>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>

<!-- רשימה של כל המסגרות -->
<div class="modal fade" style="width:100%;" id="modalCart" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="afternonColor modal-title" id="myModalLabel">הוספת מסגרות</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="afternonColor btn" data-dismiss="modal">
                    <mat-icon>check</mat-icon>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="text-align:right;" dir="rtl">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Check Column -->
                    <ng-container matColumnDef="check">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>בחר</th>
                        <td mat-cell *matCellDef="let row">
                            <input type="checkbox" [checked]="ifChecked(row.iSettingId)"
                                (click)="checkedSettings(row.iSettingId)">
                        </td>
                    </ng-container>
                    <!-- Setting Name Column -->
                    <ng-container matColumnDef="nvSettingName">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>שם מסגרת</th>
                        <td mat-cell *matCellDef="let row" name="coor"> {{row.nvSettingName}} </td>
                    </ng-container>
                    <!-- Setting Address Column -->
                    <ng-container matColumnDef="nvAddress">
                        <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header>כתובת</th>
                        <td mat-cell *matCellDef="let row"> {{row.nvAddress}} </td>
                    </ng-container>
                  
                    <!-- Setting Age groups Column -->
                    <ng-container matColumnDef="lSettingAgegroups">
                        <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header> קטגוריות גילאים
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <div *ngFor="let r of row.lSettingAgegroups" style="display: inline;">
                                {{this.lProgramAgegroupsValueForTable.get(r)}},
                            </div>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>
        </div>
    </div>
</div>