<ul>
    <li> <a routerLink="operator-details" class="navbar-brand" active>
            <div>
                <mat-icon class="mat-18">create</mat-icon> {{ idOperator==-1?'מפעיל חדש': operator.nvOperatorName }}
            </div>

        </a></li>

    <li> <a routerLink="operator-activities" routerLinkActive="activeLink" class="nav-link">פעילויות</a>
    </li>
    <li> <a routerLink="operator-schedule" routerLinkActive="activeLink" class="nav-link">יומן</a>
    </li>
    <li style="position: absolute; left: 10px; size: 20px;">
        <a [routerLink]="['/header-menu/operators/operator-table']" class="navbar-brand" active>
            <mat-icon class="mat-18">west</mat-icon>
        </a>
    </li>
</ul>




<div>
    <router-outlet></router-outlet>
</div>