<div class="container-" style="text-align:right;margin: auto; " dir="rtl">
    <div class="addMsg">


    </div>

    <div class="addMsg row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <button mat-stroked-button class="managementColor" (click)="TheEditUser(-1)" data-toggle="modal"
            data-target="#mo">הוספת משתמש</button>

            <!-- <button mat-stroked-button class="managementColor" data-toggle="modal" data-target="#modalCart"
            (click)="emailList()">שליחת הודעה</button> -->
        </div>
        <div class="col-lg-3">
            <button mat-button class="managementBtn" (click)="exporter.exportTable('xls',{fileName:'managementTable'})">ייצא ל Exel</button>

        </div>
    </div>
    
    <div style="width: 90%;margin: auto;" class="overflow-auto">


        <table  [hiddenColumns]=[0] mdbTable matTableExporter mdbTableScroll scrollY="true" maxHeight="200" #exporter="matTableExporter"
            mat-table [dataSource]="dataSource" matSort>
            <!-- Details Column -->
            <ng-container matColumnDef="details">
                <th class="header" style="width:5%;" mat-header-cell *matHeaderCellDef> עריכה </th>
                <td mat-cell *matCellDef="let element">
                    <!-- (click)="redirectToDelete(element.id)" -->
                    <button mat-icon-button class="managementColor" (click)="TheEditUser(element)" data-toggle="modal"
                        data-target="#mo">
                        <mat-icon class="mat-18">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="nvLastName">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef> שם משפחה
                    <br>
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        
                        <input matInput placeholder="חפש"[formControl]="LastNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvLastName}} </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="nvFirstName">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef> שם פרטי
                    <br>
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        
                        <input matInput placeholder="חפש"[formControl]="FirstNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvFirstName}} </td>
            </ng-container>


            <!-- User Type Column -->
            <ng-container matColumnDef="iUserType">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef>הרשאה</th>
                <td mat-cell *matCellDef="let row">
                    <!-- <p *ngIf="row.iUserType==1" >מנהלת</p>
                <p *ngIf="row.iUserType==2" >מזכירה</p> -->
                    <!-- {{row.iUserType}} -->
                    {{iUserType(row.iUserType)}}
                </td>
            </ng-container>

            <!-- User Name Column -->
            <ng-container matColumnDef="nvUserName">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef>שם משתמש
                    <br>
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        
                        <input matInput placeholder="חפש"[formControl]="UserNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvUserName}} </td>
            </ng-container>

            <!-- Mobile Column -->
            <ng-container matColumnDef="nvMobile">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef>טלפון נייד
                    <br>
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        
                        <input matInput placeholder="חפש"[formControl]="MobileFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvMobile}} </td>
            </ng-container>

            <!-- Mail  Column -->
            <ng-container matColumnDef="nvMail">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef> מייל
                    <br>
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        
                        <input matInput placeholder="חפש"[formControl]="MailFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvMail}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            
        </table>

        <mat-paginator [pageSizeOptions]="[7]"></mat-paginator>
    </div>
</div>

<!-- הוספה\עריכה של משתמש -->
<div class="modal fade" id="mo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-sm-12">
            <!--Header-->
            <div class="modal-header" style="text-align:center;">
                <h4 style="width: 100%;" class="managementColor modal-title" id="myModalLabel">עריכת משתמש</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body col-sm-12">
                <mat-card-content style="direction: rtl; text-align: center;margin-top: 3%;" class="Details">
                    <form (ngSubmit)="checkFormValid()">
                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>שם פרטי</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvFirstName" name="nvFirstName" />

                            <mat-hint align="end">{{ editUser.nvFirstName| string }}</mat-hint>

                        </mat-form-field><br>
                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>שם משפחה</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvLastName" name="nvLastName" />
                            <mat-hint align="end">{{ editUser.nvLastName| string }}</mat-hint>

                        </mat-form-field><br>

                        <mat-form-field>
                            <mat-label>סוג הרשאה</mat-label>
                            <mat-select style="padding-top: 20px;"  data-target="#categoryModal"
                                name="iUserType" [(ngModel)]="editUser.iUserType">
                                <mat-option *ngFor="let a of lUserTypeValue" [value]="a.Key">
                                    {{a.Value}}
                                </mat-option>
                            </mat-select>
                            <mat-hint class="mat-hint" align="end">{{ editUser.iUserType| required }}</mat-hint>
            
                        </mat-form-field><br>
<!-- 
                        <mat-form-field>
                            <mat-select [(ngModel)]="editUser.iUserType" required placeholder="הרשאה" name="iUserType">
                                <mat-option *ngFor="let s of lUserTypeValue.keys()" [value]="s">
                                    {{this.lUserTypeValue.get(s)}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field><br> -->

                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>פלאפון</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvMobile" name="nvMobile" />
                            <mat-hint align="end">{{ editUser.nvMobile| phone }}</mat-hint>

                        </mat-form-field><br>
                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>מייל</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvMail" name="nvMail" />
                            <mat-hint align="end">{{ editUser.nvMail| email }}</mat-hint>


                        </mat-form-field><br>

                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>שם משתמש</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvUserName" name="nvUserName" />

                        </mat-form-field><br>
                        <mat-form-field class="example-form-field col-sm-12">
                            <mat-label>סיסמא</mat-label>
                            <input matInput type="text" [(ngModel)]="editUser.nvPassword" name="nvPassword" />


                        </mat-form-field><br>
                        <!-- <button mat-icon-button data-dismiss="modal" aria-label="Close" class="close managementColor"
                            aria-label="Example icon button with a home icon">
                            <mat-icon aria-hidden="true">save</mat-icon>
                        </button> -->
                    </form>
                </mat-card-content>
            </div>
            <div style="margin: auto;" class="modal-footer">
                <button type="button" aria-label="Close" class="btn saveDialog" data-dismiss="modal"
                    (click)="checkFormValid()">שמור</button>
            </div>
        </div>
        
    </div>
</div>