.managementColor {
    color:rgb(57, 120, 110);

}
.managementBtn {
    background-color:rgb(57, 120, 110);
    color: white;
}

.header {
    padding: 5px;
    font-size: 14px;
  
}
mat-form-field {
    font-size: 14px;
    width: 180px;
  } 


/* .container{
  background-image:url(src\Images\CBGOrchidsMarch2018-4323-Edit-550x367.jpg) ;
} */
.addMsg{
  text-align: center;
  margin-bottom: 10px;
}
table {

  width: 100%;
}