<div class="menu col-sm-12">
    <nav style="direction: rtl;" class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse co-sm-12" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item col-sm-2">
                    <a routerLink="managers-table" routerLinkActive="activeLink" class="nav-link">משתמשים</a>
                </li>
                <li class="nav-item col-sm-2">
                    <a routerLink="managers-table" routerLinkActive="activeLink" class="nav-link ">טבלאות קוד</a>
                </li>
                <li class="nav-item col-sm-2">
                    <a routerLink="managers-table" routerLinkActive="activeLink" class="nav-link ">יומן</a>
                </li>
                <li class="nav-item col-sm-2">
                    <a routerLink="managers-table" routerLinkActive="activeLink" class="nav-link ">מסגרות משותפות</a>
                </li>
                <li class="nav-item col-sm-2">
                    <a routerLink="managers-table" routerLinkActive="activeLink" class="nav-link ">אשכול מסגרות</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>