
<ul>
    <li> <a routerLink="afternoon-details" class="navbar-brand">
                          <mat-icon class="mat-18">create</mat-icon>{{ idProgram==-1?'צהרון חדש': afternoon.nvProgramName }}
           
        </a></li>

    <li class="nav-item">
        <a routerLink="afternoon-schedule" routerLinkActive="activeLink" class="nav-link ">יומן</a>
    </li>
    <li style="position: absolute;
    left: 30px;
    size: 20px;
    top: px;">
        <a [routerLink]="['/header-menu/operators/operator-table']" class="navbar-brand" active>
            <mat-icon class="mat-18">west</mat-icon>
        </a>
    </li>
</ul>




<div>
    <router-outlet></router-outlet>
</div>