
.settingBtn{
    background-color:rgb(47, 50, 150);
    color:white;
}
.settingColor{
    color: rgb(47, 50, 150);
}
.header {
    padding: 5px;
    font-size: 14px;
  
}

mat-form-field {
    font-size: 14px;
    width: 80px;
  } 


/* .container{
  background-image:url(src\Images\CBGOrchidsMarch2018-4323-Edit-550x367.jpg) ;
} */
.addMsg{
  text-align: center;
  margin-bottom: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}
table {

  width: 100%;
}