<div class="form-group col-sm-12" style=" text-align: center;margin-top: 3%;direction: rtl;" class="Details">
    <form (ngSubmit)="saveSetting()">
        <div>
            <h3 class="settingColor">פרטי מסגרת</h3>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>שם מסגרת</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvSettingName" name="nvSettingName" required />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-select [(ngModel)]="currentSetting.iSettingType" required placeholder="סוג מסגרת"
                    name="iSettingType">
                    <mat-option *ngFor="let s of lSettingTypeValue.keys()" [value]="s">{{this.lSettingTypeValue.get(s)}}
                    </mat-option>
                </mat-select>
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>סמל</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvSettingCode" name="nvSettingCode" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field><br>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>טלפון</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvPhone" name="nvPhone" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>כתובת</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvAddress" name="nvAddress" required />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>שכונה</mat-label>
                <mat-select [(ngModel)]="currentSetting.iNeighborhoodType" required placeholder="שכונה"
                    name="iNeighborhoodType">
                    <mat-option *ngFor="let s of lNeighborhoodTypeValue.keys()" [value]="s">
                        {{this.lNeighborhoodTypeValue.get(s)}}</mat-option>
                </mat-select>
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <!-- <mat-select [(ngModel)]="currentSetting.lSettingAgegroups" required placeholder="קטגורית גילאים"
                name="lSettingAgegroups">
                <mat-option *ngFor="let s of lSettingAgegroupsValue.keys()" [value]="s">
                    {{this.lSettingAgegroupsValue[s]}}</mat-option>
            </mat-select> -->
        <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->

        <!-- <mat-accordion style="text-align:center;">
                <mat-expansion-panel class="text-center col-lg-2 col-lg-offset-4" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            נבחרו: {{shoes.selectedOptions.selected.length}}
                        </mat-panel-description>
                        <mat-panel-title>
                            קטגורית גילאים
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [(ngModel)]="currentSetting.lSettingAgegroups" required placeholder="קטגורית גילאים"
                        name="lSettingAgegroups">
                        <div *ngFor="let s of lSettingAgegroupsValue.keys()">
                            <div *ngIf="isSelected(s)">
                                <div *ngIf="selected">
                                    <mat-list-option selected [value]="s">
                                        {{this.lSettingAgegroupsValue.get(s)}}
                                    </mat-list-option>
                                </div>
                                <div *ngIf="!selected">
                                    <mat-list-option [value]="s">
                                        {{this.lSettingAgegroupsValue.get(s)}}
                                    </mat-list-option>
                                </div>
                            </div>
                        </div>
                    </mat-selection-list>
                </mat-expansion-panel>
            </mat-accordion> -->


        <div>
            <h3 class="settingColor">איש קשר</h3>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>שם איש קשר</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvContactPerson" name="nvContactPerson" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>פלאפון איש קשר</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvContactPersonPhone"
                    name="nvContactPersonPhone" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field col-sm-2">
                <mat-label>מייל איש קשר</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvContactPersonMail"
                    name="nvContactPersonMail" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>


        <div>
            <h3 class="settingColor">פרטי פעילות</h3>

            <div class="col-md-3 col-sm-12" style="margin: auto; display: inline-block;">
                <p style="font-size: smaller; color: rgb(109, 108, 108);">קטגורית גילאים</p>
                <ng-multiselect-dropdown name="SettingAgegroups" [settings]="dropdownSettingAgegroups"
                    [data]="lSettingAgegroupsValue" [(ngModel)]="SettingAgegroupsListNg"
                    [placeholder]="'קטגורית גילאים'" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelect)="OnItemDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>

            <mat-form-field class="example-form-field col-sm-3">
                <mat-label>מיקום פעילות</mat-label>
                <input matInput type="text" [(ngModel)]="currentSetting.nvOperatingLocation"
                    name="nvOperatingLocation" />
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <h6 class="settingColor">קיטנה</h6>
            <input type="checkbox" [(ngModel)]="currentSetting.bSettingMorning" name="bSettingMorning" />
            <mat-label> מסגרת בוקר </mat-label>
            <input type="checkbox" [(ngModel)]="currentSetting.bSettingNoon" name="bSettingNoon" />
            <mat-label>מסגרת צהריים </mat-label>

            <h6 class="settingColor">צהרון</h6>
            <input type="checkbox" [(ngModel)]="currentSetting.bActiveAfternoon" name="bActiveAfternoon" />
            <mat-label> האם קיים? </mat-label>
            <br><br>
            <h6 class="col-sm-12 settingColor">רכזת</h6>
            <div class="col-sm-12" *ngIf="currentSetting.iCoordinatorId!=-1">
                <p>{{currentCoordinator.nvFirstName}} {{currentCoordinator.nvLastName}}
                    {{currentCoordinator.nvPhone}}
                    {{currentCoordinator.nvMail}}</p>
            </div>

            <!-- Button trigger modal-->
            <button type="button" style="color:white; background-color: rgb(47, 50, 150);" class="btn col-sm-4"
                data-toggle="modal" data-target="#modalCart">שיוך
                רכזת</button>

        </div>


        <button mat-icon-button class="settingColor" aria-label="Example icon button with a home icon">
            <mat-icon>save</mat-icon>
        </button>
    </form>
</div>

<!-- טבלה של כל הרכזות -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="settingColor modal-title" id="myModalLabel">החלפת רכזת</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn settingColor" data-dismiss="modal">
                    <mat-icon>check</mat-icon>
                </button>
                <button style="background-color: rgb(47, 50, 150); color:white;" class="btn" type="button" data-toggle="modal" (click)="updateCoordinatorToEdit(-1)"
                    data-target="#mmm">הוספת רכזת</button>
            </div>
            <!--Body-->
            <div class="modal-body" style="text-align:right;" dir="rtl">

                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- radio Column -->
                    <ng-container matColumnDef="Cradio">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>בחר</th>
                        <td mat-cell *matCellDef="let row">
                            <input type="radio" name="coor" (change)="checkCoordinator(row.iCoordinatorId)">
                        </td>
                    </ng-container>
                    <!-- Coordinator FirstName Column -->
                    <ng-container matColumnDef="nvFirstName">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>שם פרטי</th>
                        <td mat-cell *matCellDef="let row" name="coor"> {{row.nvFirstName}} </td>
                    </ng-container>
                    <!-- Coordinator LastName Column -->
                    <ng-container matColumnDef="nvLastName">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
                        <td mat-cell *matCellDef="let row"> {{row.nvLastName}} </td>
                    </ng-container>
                    <!-- Coordinator Phone Column -->
                    <ng-container matColumnDef="nvPhone">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
                        <td mat-cell *matCellDef="let row"> {{row.nvPhone}} </td>
                    </ng-container>
                    <!-- Coordinator IsActive Column -->
                    <ng-container matColumnDef="bIsActive">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>פעיל?</th>
                        <td mat-cell *matCellDef="let row"> {{row.bIsActive==true?'כן':'לא'}} </td>
                    </ng-container>
                    <!-- Edit Column -->
                    <ng-container matColumnDef="edit">
                        <th style="width:5%;" mat-header-cell *matHeaderCellDef>עריכה </th>
                        <td mat-cell *matCellDef="let row">
                            <!-- (click)="redirectToDelete(element.id)" -->
                            <button mat-icon-button class="settingColor" (click)="updateCoordinatorToEdit(row)"
                                data-toggle="modal" data-target="#mmm">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>
        </div>
    </div>
</div>

<!-- הוספה\עריכה של רכזת -->
<div class="modal fade" id="mmm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="settingColor modal-title" id="myModalLabel">הוספת רכזת</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <mat-card-content style="direction: rtl; text-align: center;margin-top: 3%;" class="Details">
                    <form (ngSubmit)="saveCoordinator()">
                        <mat-form-field class="example-form-field">
                            <mat-label>שם פרטי</mat-label>
                            <input matInput type="text" [(ngModel)]="addCoordinator.nvFirstName" name="nvFirstName" />
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field><br>
                        <mat-form-field class="example-form-field">
                            <mat-label>שם משפחה</mat-label>
                            <input matInput type="text" [(ngModel)]="addCoordinator.nvLastName" name="nvLastName" />
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field><br>
                        <mat-form-field class="example-form-field">
                            <mat-label>פלאפון</mat-label>
                            <input matInput type="text" [(ngModel)]="addCoordinator.nvPhone" name="nvPhone" />
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field><br>
                        <mat-form-field class="example-form-field">
                            <mat-label>מייל</mat-label>
                            <input matInput type="text" [(ngModel)]="addCoordinator.nvMail" name="nvMail" />
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field><br>
                        <button mat-icon-button class="settingColor" aria-label="Example icon button with a home icon">
                            <mat-icon>save</mat-icon>
                        </button>
                    </form>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>