<div style="width: 90%;margin: auto;text-align: center;">
    <mwl-demo-utils-calendar-header  [(view)]="view" [(viewDate)]="viewDate" [locale]="locale">
    </mwl-demo-utils-calendar-header>

    <button class="btnOp" data-toggle="modal" data-target="#addEditEvent" (click)="resetEventToEdit()"
        mat-stroked-button>הוספת פעילות</button>

    <ng-template #customCellTemplate let-day="day" style="height: 500px;" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>

            <span style="float: left; padding-left: 10px;" class="cal-day-number">{{ day.date | hebrewDate }}</span><br>
            <!-- <span style="float: left; padding-left: 10px;" class="cal-day-number">{{ day.date | parasha }}</span> -->
            <p style="
            text-align: center;
            margin-top: 30%;
            font-size: 15px;">{{ day.date | parasha }}</p>
            <!-- <span style="float: left; margin-top:0%;font-size: 15px;margin-left: 5px;" class="cal-day-number">{{ day.date | holidays }}</span> -->

        </div>
        <!-- <small *ngIf="day.events.length" style="margin:5px;">ישנם {{ day.events.length }} אירועים ביום זה</small> -->
        <a (click)="createArrayForDetails(day.date)" *ngIf="day.badgeTotal > 0"
            style="cursor: pointer; text-align: center;  text-decoration: underline;" data-toggle="modal"
            data-target="#eventDetails">פירוט
            האירועים</a>
    </ng-template>


    <div class="c">
        <div [ngSwitch]="view" id="calendar">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                [cellTemplate]="customCellTemplate" [locale]="locale" [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale">
            </mwl-calendar-day-view>
        </div>

    </div>

</div>




<div class="modal fade" id="eventDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header" style="text-align:center;">
                <h4 style="width: 100%;" class="modal-title" id="myModalLabel"> האירועים של {{objName}} <br>
                    {{dayDetails}} </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body" style="text-align:right;" dir="rtl">
                <dl *ngFor="let event of eventsArrayByDate">
                    <!-- <dt> {{event.dtStartTime| date:'hh:mm'}} | מסגרת: {{event.nvSettingName}} </dt> -->
                    <dt> מסגרת: {{event.nvSettingName}} </dt>
                    <p>כתובת: {{event.nvAddress}}</p>
                    <p>טלפון איש קשר: {{event.nvPhone}}</p>
                    <p>פעילות: {{event.nvActivityName}}</p>

                    <button (click)="editEvent(event)" data-toggle="modal" data-target="#addEditEvent"
                        style="cursor: pointer; text-align: center;  text-decoration: underline;">עריכה</button>

                </dl>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addEditEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header" style="text-align:center;">
                <h4 style="width: 100%;" class="modal-title" id="myModalLabel">הוספת אירוע חדש</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body" style="text-align:right;margin:auto;" dir="rtl">

                <section *ngIf="types['iProgramId']==-1" class="example-section">
                    <label class="example-margin">לתוכנית:</label><br>
                    <mat-form-field>
                        <mat-label>בחר תוכנית</mat-label>
                        <mat-select [(ngModel)]="eventToEdit.iProgramId" name="programId"
                            (ngModelChange)="fillLists('program')">
                            <mat-option *ngFor="let p of programsList" [value]="p.iProgramId">
                                {{p.nvProgramName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section *ngIf="types['iSettingId']==-1" class="example-section">
                    <label class="example-margin">למסגרת:</label><br>
                    <mat-form-field>
                        <mat-label>בחר מיסגרת</mat-label>
                        <mat-select [(ngModel)]="eventToEdit.iSettingId" name="settingId"
                            (ngModelChange)="fillLists('setting')">
                            <mat-option *ngFor="let s of settingsList" [value]="s.iSettingId">
                                {{s.nvSettingName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section *ngIf="types['iOperatorId']==-1" class="example-section">
                    <label class="example-margin">למפעיל:</label><br>
                    <mat-form-field>
                        <mat-label>בחר מפעיל</mat-label>
                        <mat-select [(ngModel)]="eventToEdit.iOperatorId" name="operatorId"
                            (ngModelChange)="fillLists('operator')">
                            <mat-option *ngFor="let o of operatorList" [value]="o.iOperatorId">
                                {{o.nvOperatorName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section class="example-section">
                    <label class="example-margin">פעילות</label><br>
                    <mat-form-field>
                        <mat-label>בחר פעילות</mat-label>
                        <mat-select [(ngModel)]="eventToEdit.iActivityId" name="activityId">
                            <mat-option *ngFor="let a of operator.lActivity" [value]="a.iActivityId">
                                {{a.nvActivityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>


                <mat-form-field>
                    <mat-label>תאריך:</mat-label>
                    <input matInput #input="ngModel"
                        [(ngModel)]="eventToEdit.dtStartTime" 
                        [min]="minDate"  [max]="maxDate"
                        [matDatepicker]="picker2" name="dtStartTime">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-hint align="end">{{eventToEdit.dtStartTime | required}}</mat-hint>

                </mat-form-field>
            </div>



            <div style="margin: auto;" class="modal-footer">
                <button type="button" aria-label="Close" [ngStyle]="{'background-color':color }" class="btn btn-primary" data-dismiss="modal"
                    (click)="addEditEvent(time)">שמור</button>
            </div>

        </div>


    </div>
</div>