<div class="container-" style="text-align:right;margin: auto; " dir="rtl">
    <div style="width: 90%;margin: auto;" class="overflow-auto">

        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="nvActivityName">
                <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header>שם פעילות</th>
                <td mat-cell *matCellDef="let row"> {{row.nvActivityName}} </td>
            </ng-container>


            <!-- Contact Name Column -->
            <ng-container matColumnDef="iCategoryType">
                <th style="width: 10%;size: 100px;" mat-header-cell *matHeaderCellDef mat-sort-header>קטגורית פעילות
                </th>
                <td mat-cell *matCellDef="let row"> {{activityCategories.get(row.iCategoryType) }} </td>
            </ng-container>


            <!-- kind Column -->
            <ng-container matColumnDef="nvActivityProduct">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>תוצר פעילות</th>
                <td mat-cell *matCellDef="let row"> {{row.nvActivityProduct}} </td>
            </ng-container>

            <!-- kind Column -->
            <ng-container matColumnDef="lActivityAgegroups">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>קטגורית גילאים</th>
                <td mat-cell *matCellDef="let row">
                    <div *ngFor="let age of row.lActivityAgegroups">
                        {{ agesForTable.get(age)}}
                    </div>
                </td>
            </ng-container>

            <!-- kind Column -->
            <ng-container matColumnDef="nPrice">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>מחיר + מע"מ</th>
                <td mat-cell *matCellDef="let row"> {{row.nPrice}} ש"ח </td>
            </ng-container>

            <!-- kind Column -->
            <ng-container matColumnDef="nShortBreak">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>הפסקה-גן צמוד</th>
                <td mat-cell *matCellDef="let row"> {{row.nShortBreak}} דקות </td>
            </ng-container>
            <!-- kind Column -->
            <ng-container matColumnDef="nLongBreak">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>הפסקה-גן רחוק</th>
                <td mat-cell *matCellDef="let row"> {{row.nLongBreak}} דקות </td>
            </ng-container>
            <!-- kind Column -->
            <ng-container matColumnDef="bActivityMorning">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>פעילות בוקר?</th>
                <td mat-cell *matCellDef="let row"> {{row.bActivityMorning==true?"לא":"כן"}} </td>
            </ng-container> <!-- kind Column -->
            <ng-container matColumnDef="bActivityNoon">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>פעילות צהרים?</th>
                <td mat-cell *matCellDef="let row"> {{row.bActivityNoon==true?"לא":"כן"}} </td>
            </ng-container>

            <!-- Update -->
            <ng-container matColumnDef="update">
                <th style="width:4%;" mat-header-cell *matHeaderCellDef> עריכה </th>
                <td mat-cell *matCellDef="let element">
                    <!-- (click)="redirectToUpdate(element.id)" -->
                    <button mat-icon-button color="accent" data-toggle="modal" data-target="#EditActiv"
                        (click)="EditActivity(element)">
                        <mat-icon matSuffix>create</mat-icon>
                    </button>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>

        <mat-paginator [pageSizeOptions]="[7]"></mat-paginator>
    </div>

</div>




<div class="modal fade" id="EditActiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="text-align: right;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 style="text-align: center;" class="modal-title" id="myModalLabel">עריכת פעילות:
                    {{CurrentActivity.nvActivityName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form>

                    <mat-form-field class="example-form-field" style="direction:rtl;">
                        <mat-label>שם פעילות</mat-label>
                        <input matInput type="text" [(ngModel)]="CurrentActivity.nvActivityName" name="nvActivityName">

                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label>סוג פעילות</mat-label>
                        <mat-select [(ngModel)]="activControl.Key" name="active">
                            <mat-option *ngFor="let a of ActivitiesType" [value]="a.Key">
                                {{a.Value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <!-- Activities Age groups Column -->
                    <div>
                        <ng-multiselect-dropdown name="agesCategory" [(ngModel)]="AgesSelected"
                            [settings]="dropdownSettings" [data]="agesCategories" [placeholder]="'קטגורית גילאים'"
                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </ng-multiselect-dropdown>
                    </div>

                    <!-- price -->
                    <mat-form-field appearance="legacy">
                        <mat-label>מחיר</mat-label>
                        <input [(ngModel)]="CurrentActivity.nPrice" name="nPrice" type="number" matInput
                            placeholder="Placeholder">
                        <span matPrefix>₪&nbsp;</span>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="legacy">
                        <mat-label>הפסקה גן צמוד</mat-label>
                        <input [(ngModel)]="CurrentActivity.nShortBreak" type="number" matInput name="nShortBreak"
                            placeholder="Placeholder">
                        <mat-hint>דקות</mat-hint>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="legacy">
                        <mat-label>הפסקה גן רחוק</mat-label>
                        <input [(ngModel)]="CurrentActivity.nLongBreak" type="number" matInput name="nLongBreak"
                            placeholder="Placeholder">
                        <mat-hint>דקות</mat-hint>
                    </mat-form-field>


                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox [checked]="CurrentActivity.nvActivityProduct!=null" class="example-margin">יש
                            תוצר
                        </mat-checkbox>
                    </section>

                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox [checked]="CurrentActivity.bActivityPreference" name="bActivityPreference"
                            [(ngModel)]="CurrentActivity.bActivityPreference" class="example-margin">פעילות מועדפת
                        </mat-checkbox>
                    </section>

                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox [checked]="CurrentActivity.bActivityMorning"
                            [(ngModel)]="CurrentActivity.bActivityMorning" name="bActivityMorning"
                            class="example-margin">פעילות בוקר
                        </mat-checkbox>
                    </section>

                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox [checked]="CurrentActivity.bActivityNoon"
                            [(ngModel)]="CurrentActivity.bActivityNoon" name="bActivityNoon" class="example-margin">
                            פעילות צהרים
                        </mat-checkbox>
                    </section>

                    <div style="text-align: center;" mat-dialog-actions>
                        <button (click)="saveActiveChanges()" mat-flat-button mat-dialog-close
                            color="accent">שמור</button>
                    </div>


                </form>

            </div>

        </div>

    </div>

</div>