

<ul>
    <li> <a routerLink="settings-details"  class="navbar-brand" active>
            <div>
                <mat-icon class="mat-18">create</mat-icon> {{ idSetting==-1?'מפעיל חדש': setting.nvSettingName }}
            </div>

        </a></li>

    <li>  <a routerLink="settings-schedule" routerLinkActive="activeLink" class="nav-link">יומן</a>


    </li>              

    <li style="position: absolute;
    left: 30px;
    size: 20px;
    top: px;">
        <a [routerLink]="['/header-menu/settings/setting-table']" class="navbar-brand" active>
            <mat-icon class="mat-18">west</mat-icon>
        </a>
    </li>
</ul>




<div>
    <router-outlet></router-outlet>
</div>