<div class="container-" style="text-align:right;margin: auto; " dir="rtl">
    <div class="addMsg row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <button mat-stroked-button class="operatorColor" data-toggle="modal" data-target="#modalCart"
                (click)="emailList()">שליחת הודעה</button>
            <button mat-stroked-button class="operatorColor" (click)="addOperator()"> הוספת מפעיל</button>
        </div>
        <div class="col-lg-3">
            <button mat-button class="operatorBtn" (click)="exporter.exportTable('xls',{fileName:'operatorTable'})">ייצא
                ל Excel</button>

        </div>
    </div>

    <div style="width: 90%;margin: auto;" class="overflow-auto">

        <table [hiddenColumns]=[0,1,11] mdbTable matTableExporter mdbTableScroll scrollY="true" maxHeight="200"
            #exporter="matTableExporter" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
                <th>בחירה</th>
                <th class="header" style="width:6%;" mat-header-cell *matHeaderCellDef>
                    <!--Select All-->
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        <!-- [aria-label]="checkboxLabel()" -->
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                        <!-- [aria-label]="checkboxLabel(row)" -->
                    </mat-checkbox>
                </td>
            </ng-container>



            <!-- operatorType Column -->
            <ng-container matColumnDef="iOperatorType">
                <!-- mat-sort-header -->
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef>סוג
                    <mat-form-field style="width: 80px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="OperatorTypeFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{operatorTypes.get(row.iOperatorType)}} </td>
            </ng-container>

            <!-- companyName Column -->
            <ng-container matColumnDef="nvCompanyName">
                <th class="header" style="width: 10%;" mat-header-cell *matHeaderCellDef>שם חברה
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="CompanyNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvCompanyName}} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="nvOperatorName">
                <th style="width: 10%;" class="header" mat-header-cell *matHeaderCellDef>
                    שם מפעיל
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="nameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvOperatorName}} </td>
            </ng-container>

            <!-- category activities Column -->
            <ng-container matColumnDef="nvActivityies">
                <th style="width: 50px;" class="header" mat-header-cell *matHeaderCellDef>קטגורית פעילות
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="categoryFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvActivityies}} </td>
            </ng-container>

            <!-- Identity  Column -->
            <ng-container matColumnDef="nvIdentity">
                <th style="width: 10%;" class="header" mat-header-cell *matHeaderCellDef> ת.ז
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="IdentityFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvIdentity}} </td>
            </ng-container>

            <!-- Contact Name Column -->
            <ng-container matColumnDef="nvContactPerson">
                <th style="width: 10%;" class="header" mat-header-cell *matHeaderCellDef> שם איש קשר
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="ContactNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{ row.nvContactPerson}} </td>
            </ng-container>


            <!-- phone number Column -->
            <ng-container matColumnDef="nvContactPersonPhone">
                <th style="width: 10%;" class="header" mat-header-cell *matHeaderCellDef> טלפון
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="ContactPersonPhoneFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvContactPersonPhone}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="nvContactPersonMail">
                <th style="width: 10%;" class="header" mat-header-cell *matHeaderCellDef> מייל
                    <mat-form-field style="width: 100px;" class="filter" floatLabel="never">
                        <input matInput value="חפש" [formControl]="ContactPersonMailFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.nvContactPersonMail}} </td>
            </ng-container>
            <!--is in Programs database Column -->
            <ng-container matColumnDef="bInProgramPool">
                <th style="width: 8%;" class="header" mat-header-cell *matHeaderCellDef>קיים במאגר התוכניות</th>
                <td mat-cell style="text-align: center;" *matCellDef="let row"> {{row.bInProgramPool==true?'לא':'כן'}}
                </td>
            </ng-container>
            <!-- Update -->
            <ng-container matColumnDef="update">
                <th style="width:4%;" class="header" mat-header-cell *matHeaderCellDef> עריכה </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="operatorColor" (click)="EditOperator(element)">
                        <mat-icon matSuffix>create</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th style="width:4%;" class="header" mat-header-cell *matHeaderCellDef> מחיקה </th>
                <td mat-cell *matCellDef="let element">
                    <!-- (click)="redirectToDelete(element.id)" -->
                    <button mat-icon-button class="operatorColor" (click)="DeleteOperator(element)">
                        <mat-icon matSuffix>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"></mat-paginator>
    </div>

    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header" style="text-align:center;">
                    <h4 style="width: 100%;" class="modal-title" id="myModalLabel">שליחת הודעה</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!--Body-->

                <div class="modal-body" style="text-align:right;" dir="rtl">
                    <label style="display:inline-block;font-weight:500;">שולח ל: </label>
                    <div *ngIf="selection.selected.length==0" class="alert alert-danger">
                        בחר מפעילים בטבלה אליהם הנך רוצה לשלוח
                    </div>
                    <h5 style="font-size:18px;font-weight:400;display:inline-block;margin-right: 5px;"
                        *ngFor="let element of selection.selected"> {{element.nvOperatorName}}, </h5>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>נושא</mat-label>
                        <input matInput placeholder="נושא" [(ngModel)]="emailSubject">
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width">
                        <mat-label>הודעה </mat-label>
                        <textarea [(ngModel)]="emailContent" cols="30" rows="5" matInput></textarea>
                    </mat-form-field>

                </div>

                <div mat-dialog-actions style="margin: auto;margin-bottom: 10px;">
                    <button mat-raised-button color="accent" (click)="sendEmail()"
                        [disabled]="selection.selected.length==0">שלח</button>
                </div>
            </div>
        </div>
    </div>
</div>