
mat-form-field {
    font-size: 14px;
    width: 80px;
  } 

  
.operatorBtn{
  background-color:var(--operatorClr);
  color:white;
  /* margin-left: 80px; */
}

/* .mat-sort-header{
  display: inline;
}
input.matInput{
  direction: rtl;
} */ 

.operatorColor{
  color:var(--operatorClr);
}
.saveDialog{
  background-color: var(--operatorClr);
    border-color: var(--operatorClr);
    color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}
table {

  width: 100%;
}

.header {
  padding: 5px;
  font-size: 14px;

}

.filter  {
  width: 80%;
  display: block;
}
/* 
.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-iOperatorType {
  flex: 0 0 10% !important;
  min-width: 104px !important;
}

.mat-column-nvCompanyName {
  flex: 0 0 10% !important;
  min-width: 104px !important;
}

.mat-column-nvOperatorName {
  flex: 0 0 10% !important;
  min-width: 104px !important;
}

.mat-column-nvActivityies {
  flex: 0 0 10% !important;
  min-width: 104px !important;
} */