<div class="form-group row">

    <form operator="ngform" (ngSubmit)="save()">
        <button  class="saveIconBtn" mat-icon-button aria-label="Example icon button with a home icon" title="שמור">
            <mat-icon>save</mat-icon>
        </button>
        <h3 class="newObj" *ngIf="newOp">מפעיל חדש</h3>

        <div style="height: 170px;margin: auto;width: 50%;padding-top: 25px;">
            <mat-form-field class="example-form-field">
                <mat-label>שם מפעיל</mat-label>
                <input  matInput type="text" [(ngModel)]="operator.nvOperatorName" name="nvOperatorName">
                <mat-hint align="end" #mat >{{ operator.nvOperatorName|string }}</mat-hint>

            </mat-form-field><br>
            <mat-form-field class="example-form-field">
                <mat-label>שם חברה</mat-label>
                <input matInput type="text" [(ngModel)]="operator.nvCompanyName" name="nvCompanyName">
                <mat-hint align="end" #mat  >{{ operator.nvOperatorName|string }}</mat-hint>

            </mat-form-field>
        </div>
        <br>


        <section class="example-section">
            <label class="example-margin">סוג: </label>
            <mat-radio-group [(ngModel)]="operator.iOperatorType" name="iOperatorType">
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="5">פרטי
                </mat-radio-button>
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="6">חברה
                </mat-radio-button>
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="7">שכיר
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <mat-hint align="end" >{{operator.iOperatorType|required }}</mat-hint>

        <br>
        <mat-form-field class="example-form-field">
            <mat-label>ת.ז</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvIdentity" name="nvIdentity">
            <mat-hint align="end" >{{ operator.nvIdentity| idNumber }}</mat-hint>

        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>שם איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPerson" name="nvContactPerson">
            <mat-hint align="end" >{{operator.nvContactPerson|string }}</mat-hint>
        </mat-form-field><br>


        <mat-form-field class="example-form-field">
            <mat-label>טלפון איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPersonPhone" name="nvContactPersonPhone">
            <mat-hint align="end" #mat >{{ operator.nvContactPersonPhone| phone  }}</mat-hint>

        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label> מייל איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPersonMail" name="nvContactPersonMail">

        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>מספר מדריכים</mat-label>
            <input matInput type="text" [(ngModel)]="operator.iNumLeaders" name="iNumLeaders">

        </mat-form-field>
        <br>

        <mat-form-field class="example-form-field">
            <mat-label>הגבלת מספר חוגים ביום</mat-label>
            <input matInput type="number" [(ngModel)]="operator.iNumOperationsDay" name="iNumOperationsDay">

        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>הגבלת מספר חוגים בשבוע</mat-label>
            <input matInput type="number" [(ngModel)]="operator.iNumOperationsWeek" name="NumActivityWeek">

        </mat-form-field><br>

        <section class="example-section">
            <label class="example-margin">תנאי תשלום: </label>
            <mat-radio-group [(ngModel)]="operator.iOperatorPaymentType" name="iOperatorPaymentType">
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="8">30 + שוטף
                </mat-radio-button>
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="9">שוטף + 60
                </mat-radio-button>
                <mat-radio-button style="margin-right: 17px;" class="example-margin" [value]="10">מזומן
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <br>
 

        <mat-form-field class="example-form-field">
            <mat-label>מספר ספק</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvIdentity" name="nvIdentity">

        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>מספר הנהלת חשבונות</mat-label>
            <input matInput type="text" [(ngModel)]="operator.iNumBookkeeping" name="iNumBookkeeping">

        </mat-form-field><br>

        <section class="example-section s">
            <mat-checkbox [(ngModel)]="operator.bActivityPriority" [checked]="operator.bActivityPriority"
                name="ActivityPriority" class="example-margin">עדיפות בשיבוץ</mat-checkbox>
        </section>

        <section class="example-section s">
            <mat-checkbox [checked]="operator.bInProgramPool" class="example-margin">קיים במאגר התוכניות</mat-checkbox>
        </section>

        <div id="TalanSchool">

            <section style="direction: rtl;" class="example-section">
                <mat-checkbox [(ngModel)]="operator.bTalan" [checked]="operator.bTalan" name="TalanCheckbox"
                    class="example-margin">מפעיל בחוגי תל"ן</mat-checkbox>
            </section>
            <!-- talan schools settings -->
            <div >
                <ng-multiselect-dropdown name="talanSchools" [(ngModel)]="lschool" [placeholder]="'בתי ספר'"
                    [data]="schoolListforTalan" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event,'talanSchool')" (onSelectAll)="onSelectAll('talanSchool')"
                    (onDeSelectAll)="onDeSelectAll('talanSchool')" (onDeSelect)="OnItemDeSelect($event,'talanSchool')"
                    [disabled]="!operator.bTalan">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div id="Neighborhoods">

            <section style="direction: rtl;" class="example-section">
                <mat-checkbox [checked]="blNeighborhoods" (change)="blNeighborhoods=!blNeighborhoods"
                    class="example-margin">פעיל באזורים מסוימים</mat-checkbox>
            </section>


            <!-- Neighborhoods -->
            <div >
                <ng-multiselect-dropdown name="neighborhoods" [settings]="dropdownNeighborhoods"
                    [(ngModel)]="operatorNeighborhoods" [data]="NeighborhoodsList" [placeholder]="'איזורים'"
                    (onSelect)="onSelectNeighborhood($event)" (onSelectAll)="onSelectAll('neighberhoods')"
                    (onDeSelectAll)="onDeSelectAll('neighberhoods')" (onDeSelect)="onDeSelectNeighborhood($event)"
                    [disabled]="!blNeighborhoods">
                </ng-multiselect-dropdown>
            </div>
        </div>


        <div id="SettingslsExclude" style="padding-bottom: 30px;">
            <!-- לשלוף מטבלת מסגרות -->
            <section style="direction: rtl;" class="example-section">
                <mat-checkbox [checked]="bSettingslsExclude" (change)="bSettingslsExclude=!bSettingslsExclude"
                    class="example-margin">לא פעיל במסגרות מסויימות</mat-checkbox>
            </section>


            <div >
                <ng-multiselect-dropdown name="schoolExclude" [(ngModel)]="schoolsExcludeList" [placeholder]="'מסגרות'"
                    [data]="settingsList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event,'settings')"
                    (onSelectAll)="onSelectAll('settings')" (onDeSelectAll)="onDeSelectAll('settings')"
                    (onDeSelect)="OnItemDeSelect($event,'settings')" [disabled]="!bSettingslsExclude">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div id="work">

            <section style="direction: rtl;  " class="example-section">
                <mat-checkbox [(ngModel)]="operator.bActiveAfternoon" [checked]="operator.bActiveAfternoon"
                    name="ActiveAfternoon" class="example-margin">עובד בצהרונים</mat-checkbox>
            </section>
            <a data-toggle="modal" data-target="#modalCart"> עריכת לו"ז צהרונים</a><br>


            <section style="direction: rtl;" class="example-sction">
                <mat-checkbox [(ngModel)]="operator.bActiveChanukahCamp" [checked]="operator.bActiveChanukahCamp"
                    name="ActiveChanukahCamp" class="example-margin">עובד בקייטנת חנוכה</mat-checkbox>
            </section>
            <a data-toggle="modal" data-target="#modalCart"> עריכת לו"ז קייטנת חנוכה</a><br>

            <section style="direction: rtl;" class="example-section">
                <mat-checkbox [(ngModel)]="operator.bActivePassoverCamp" [checked]="operator.bActivePassoverCamp"
                    name="ActivePassoverCamp" class="example-margin">עובד בקייטנת פסח</mat-checkbox>
            </section>
            <a data-toggle="modal" data-target="#modalCart"> עריכת לו"ז קייטנת פסח</a><br>


            <section style="direction: rtl;" class="example-section">
                <mat-checkbox [(ngModel)]="operator.bActiveSummerCamp" [checked]="operator.bActiveSummerCamp"
                    name="ActiveSummerCamp" class="example-margin">עובד בקייטנת קיץ</mat-checkbox>
            </section>
            <a data-toggle="modal" data-target="#modalCart">עריכת לו"ז קייטנת קיץ</a>


        </div>

    </form>
</div>


<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 style="text-align: center;" class="modal-title" id="myModalLabel">לו"ז צהרונים</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Body-->

            <div class="modal-body" style="text-align:right;" dir="rtl">
                <div id="Sunday">

                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox name="sunday" class="example-margin">ראשון</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width">
                        <mat-label>מספר מדריכים</mat-label>
                        <input type="number" min="0" matInput placeholder="הכנס מיספר">
                    </mat-form-field>

                </div>

                <div id="Monday">
                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox name="monday" class="example-margin">שני</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width">
                        <mat-label>מספר מדריכים</mat-label>
                        <input min="0" type="number" matInput placeholder="הכנס מיספר">
                    </mat-form-field>
                </div>

                <div id="Tuesday">
                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox name="tuesday" class="example-margin">שלישי</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width">
                        <mat-label>מספר מדריכים</mat-label>
                        <input type="number" min="0" matInput placeholder="הכנס מיספר">
                    </mat-form-field>
                </div>

                <div id="Wednesday">
                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox name="wednesday" class="example-margin">רביעי</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width">
                        <mat-label>מספר מדריכים</mat-label>
                        <input type="number" min="0" matInput placeholder="הכנס מיספר">
                    </mat-form-field>
                </div>


                <div id="Thursday">
                    <section style="direction: rtl;" class="example-section">
                        <mat-checkbox name="thursday" class="example-margin">חמישי</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width">
                        <mat-label>מספר מדריכים</mat-label>
                        <input type="number" min="0" matInput placeholder="הכנס מיספר">
                    </mat-form-field>
                </div>
                <button mat-icon-button style="color: rgb(192, 31, 31) ;"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>