h4{
  width: 50%;
  margin: auto;
  padding-bottom: 2%;
}
.mat-hint{
  color: red;
  font-size: 15px;

}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .form {
    width: 60%;
    height: 700px;
    margin: auto;
    text-align: center;
    direction: rtl; 
   background-color: #ffffffcf;
   overflow-y: scroll;
}
  ng-multiselect-dropdown /deep/ .multiselect-dropdown > .dropdown-btn{
    font-size:12px !important;
 }
 .disabled{
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
 }

#work section,a{
   display: inline-block;
   padding: 10px;

 }
 /* #work section{
   margin-right: 110px;
 } */
 a{
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;

 }

#day .example-section, .example-full-width{
  display: inline-block;
}

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
      background-color:  rgb(219 162 162) !important; 
  }

#work{
  margin-top: 20px;
  width: 60%;
margin-right: 30%;
  text-align: right;  
  padding-bottom: 30px;
}

.saveIconBtn{
  color: var(--operatorClr);
    position: sticky;
    position: -webkit-sticky;
    height: 100px;
    top: 20px;

    float: left;
    margin-left: 30px;
}

.saveIcon{
  
  font-size: 48px;
  text-shadow: 10px 10px 20px #ffffff;

}


.s{
  width: 30%;
  text-align: justify;
  margin: auto;
}

form {
      width: 60%;
      height: 100%;
      margin: auto;
      text-align: center;
      direction: rtl; 
     background-color: #ffffffcf;
     overflow-y: scroll;
}
mat-label{
  color: black;
  font-size: 20px;
}
mat-form-field{
  padding-bottom: 20px;
  width: 30%;
}
.form-group{
  width: 100%;  
  }
  

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #c01f1f;
}



#SettingslsExclude, #Neighborhoods, #TalanSchool
{
  width: 50%; margin: auto;  padding-top: 35px;

}
.example-full-width{
  width: 110px;
  margin-left: 18px;

}
 .saveDialog{
  background-color: var(--operatorClr);
    border-color: var(--operatorClr);
    color: white;
}