
<ul>
    <li> <a routerLink="programs-details" class="navbar-brand" active>
            <div>
                <mat-icon class="mat-18">create</mat-icon> {{ idProgram==-1?'תוכנית חדשה': program.nvProgramName}}
            </div>

        </a></li>

    
    <li>    <a routerLink="programs-schedule" routerLinkActive="activeLink" class="nav-link ">יומן</a>
    </li>
    
    <li style="position: absolute;
    left: 30px;
    size: 20px;
    top: px;">
        <a [routerLink]="['/header-menu/programs/programs-table']" class="navbar-brand" active>
            <mat-icon class="mat-18">west</mat-icon>
        </a>
    </li>
</ul>




<div>
    <router-outlet></router-outlet>
</div>