/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';    
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';   
@import "~angular2-multiselect-dropdown/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

/* for schedule*/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}
:root {
    --operatorClr:rgb(192, 31, 31);;
    --settingClr: rgb(47, 50, 150);
    --programClr:  rgb(98, 169, 29);
    --afternoonClr: rgb(219 182 0 / 90%);
    --managerClr: rgb(91, 185, 170)

  }
.opColor{
  color: var(--operatorClr);
}
mat-sort-header-button{
display: none;
}
a, button{
    cursor: pointer;
}
/* for details page */
.form-group mat-form-field{
    width: 200px;
  }
/* for table page */

.addMsg{
    text-align: center;
    margin-bottom: 10px;
  }
  .addMsg button{
    background-color: white;
    margin-left: 20px;
    font-family: inherit;
  }
  .container-{
    padding-top: 50px;
  }

  .saveIconBtn{
    color: rgb(192, 31, 31);
      position: sticky;
      position: -webkit-sticky;
      height: 100px;
      top: 0px;
      float: left;
      margin-left: 30px;
      
      outline: none !important;
      box-shadow: none !important;
  }
  /* validation */
  .mat-form-field-appearance-legacy .mat-hint{
    color: red;
}
.saveIcon{
  
  font-size: 48px;
  text-shadow: 10px 10px 20px #ffffff;

}
.imageBackground{
    background-color: aquamarine;
    /* url('/assets/Images/two-daisies-in-the-grass.jpg') no-repeat center center fixed; */
    
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
/* for multi select */
.mu-hero-overlay,
.mu-video-overlay {
	background-color: #41B6E6;/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #003A70, #F6BE00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #003A70, #F6BE00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus,
.mu-copy-right a:hover,
.mu-copy-right a:focus,
.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-faq-content .panel-title a:hover,
.mu-faq-content .panel-title a:focus,
.mu-faq-content .panel-title a[aria-expanded="true"],
.mu-faq-content .panel-title a>span,
.mu-menu ul li a:hover,
.mu-menu ul li a:focus,
.mu-single-speakers-info p,
.mu-single-speakers-social li a:hover,
.mu-single-speakers-social li a:focus,
.mu-logo,
.mu-logo:hover,
.mu-logo:focus,
#mu-hero .navbar-default .navbar-brand,
.mu-navbar .mu-menu li a:hover,
.mu-navbar .mu-menu li a:focus,
.mu-single-event .mu-event-time {
	color: #F6BE00;
}

.mu-speakers-slider .slick-next,
.mu-speakers-slider .slick-prev,
#mu-venue,
.mu-popular-price .mu-price-tag,
.mu-navbar .navbar-toggle,
.mu-navbar .navbar-toggle:hover,
.mu-navbar .navbar-toggle:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.mu-schedule-menu li a:hover,
.mu-schedule-menu li a:focus,
.mu-schedule-menu li.active a,
.mu-schedule-menu li.active a:hover,
.mu-schedule-menu li.active a:focus {
	background-color: #003A70;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #003A70;
	color: #003A70;
}

.mu-contact-form .form-control:focus,
.mu-schedule-menu li a {
	border: 1px solid #003A70;    
} 

.mu-send-msg-btn,
.mu-send-msg-btn:focus,
.mu-register-btn:hover,
.mu-register-btn:focus,
.mu-popular-price .mu-register-btn {
	border: 1px solid #003A70;
	background-color: #003A70;
}

.mu-faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #003A70;

}

.mu-reg-submit-btn:hover,
.mu-reg-submit-btn:focus {
	background-color: #003A70;
	border: 2px solid #003A70;
}

.mat-card {    
    text-align: -webkit-center;    
}    
    
.custom-font-size .multiselect-dropdown .dropdown-btn {
    font-size:12px !important;
 }

.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    

.newObj{
    width: 200px;
    margin: auto;
}
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
    
}   
body::-webkit-scrollbar {
    display: none;
  } 
    
mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    



/*position*/
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #45c92b;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

